@model IEnumerable<BibliotecaNexus.Data.Domain.Entidades.Prestamo>
@{
    ViewData["Title"] = "Préstamos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Préstamos</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo Préstamo</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Libro</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.PrestamoId</td>
                <td>@item.Cliente.Nombre</td>
                <td>@item.Libro.Titulo</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PrestamoId" class="btn btn-warning">Editar</a>
                    <a asp-action="Delete" asp-route-id="@item.PrestamoId" class="btn btn-danger">Eliminar</a>
                    <a asp-action="Details" asp-route-id="@item.PrestamoId" class="btn btn-info">Detalles</a>
                </td>
            </tr>
        }
    </tbody>
</table>
