@model IEnumerable<BibliotecaNexus.Data.Domain.Entidades.Autorizacion>
@{
    ViewData["Title"] = "Autorizacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Autorizacion</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nueva Autorización</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Módulo</th>
            <th>Permiso</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.AutorizacionId</td>
                <td>@item.Modulo</td>
                <td>@item.Permiso</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AutorizacionId" class="btn btn-warning">Editar</a>
                    <a asp-action="Delete" asp-route-id="@item.AutorizacionId" class="btn btn-danger">Eliminar</a>
                    <a asp-action="Details" asp-route-id="@item.AutorizacionId" class="btn btn-info">Detalles</a>
                </td>
            </tr>
        }
    </tbody>
</table>
